<section class="p-5">
  <div class="categories-container">
    <div class="row text-center mb-5">
      <div class="col">
        <h1 class="choose-category logo">Choose a category to play</h1>
      </div>
    </div>
    <div class="row row-cols-md-3 text-center g-5">
      <div class="col-md">
        <div class="card category-card text-dark science" id="science">
          <div class="card-body text-center category-font">
            <div class="h1 mb-3">
              <img src="./assets/images/science.png" alt="beeker icon" />
            </div>
            <h3 class="card-title mb-2">Science</h3>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card category-card text-dark music" id="music">
          <div class="card-body text-center category-font">
            <div class="h1 mb-3">
              <img src="./assets/images/guitar.png" alt="guitar icon" />
            </div>
            <h3 class="card-title mb-2">Music</h3>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card category-card text-dark film-tv" id="film-tv">
          <div class="card-body text-center category-font">
            <div class="h1 mb-3">
              <img src="./assets/images/video.png" alt="film icon" />
            </div>
            <h3 class="card-title mb-2">Film & TV</h3>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card category-card text-dark food-drink" id="food-drink">
          <div class="card-body text-center category-font">
            <div class="h1 mb-3">
              <img src="./assets/images/drink.png" alt="drink icon" />
            </div>
            <h3 class="card-title mb-2">Food & Drink</h3>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card category-card text-dark geography" id="geography">
          <div class="card-body text-center category-font">
            <div class="h1 mb-3">
              <img src="./assets/images/globe.png" alt="globe icon" />
            </div>
            <h3 class="card-title mb-2">Geography</h3>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card category-card text-dark general" id="general">
          <div class="card-body text-center category-font">
            <div class="h1 mb-3">
              <img src="./assets/images/book.png" alt="brain icon" />
            </div>
            <h3 class="card-title mb-2">General Knowledge</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>