/* nav {
  transition: top 0.3s;
} */

* {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

#music,
.music {
  background: #ff8360;
}

#science,
.science {
  background: #7dce82;
}

#food-drink,
.food-drink {
  background: #9b7ede;
}

#film-tv,
.film-tv {
  background: #ff6b6b;
}

#geography,
.geography {
  background: #37cdc5;
}

#random,
.random {
  background: #ffdc81;
}

.hide {
  display: none;
}

.category-card {
  cursor: pointer;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.category-card:hover {
  transform: scale(1.15);
}

.question-card,
.user-card {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.user-card {
  background: #7dce82;
}

.login-image {
  max-width: 100%;
}

.logo {
  /* font-family: "Fredoka", sans-serif; */
  font-family: "Shrikhand", cursive;
  font-size: 48px;
  font-weight: bold;
}

body,
nav {
  background: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
